# Dependencies
node_modules/
package-lock.json

# Environment
.env

# Uploads
uploads/profiles/*
uploads/posts/*
!uploads/profiles/.gitkeep
!uploads/posts/.gitkeep

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Temporary files
tmp/
temp/
